tr,th,td {
    border: 1px solid;
    font-size: xx-large;
    margin-left: 20px;
}
h1{
    font-size: 70px;
    color: whitesmoke;text-align: center;
}
a{
    text-decoration: none;
    color: #F05945;
    

}
header{
    background-color: aquamarine;
}